/** start header **/ 
@media (min-width: 768px) {
    body {
      min-height: 650px;
    }
}
@media (min-width: 1440px) {
    body {
      min-height: 1000px;
    }
}
/** end header **/

/** start menu **/
.me-pl-0{
    padding-left: 0px;
}
/** end menu **/

/** start content **/

/** end content **/

/** start footer **/
.me-footer{
    position: relative;
    bottom: 0px;
}
/** end footer **/